.nav-logo{
  height: 75px;
  border-radius: 50%;
  margin-right: auto;
}
.container{
  background-image: url('https://cloudinary-marketing-res.cloudinary.com/image/upload/w_1000/q_auto/f_auto/landmannalaugar_iceland.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100lvh;
  margin: 0;
  padding: 0;
}
.nav-item{
  color: black;
  font-size: 20px;
}
.nav-item:hover{
  color: aqua;
}
.anchor{
  margin-left: 300px;
  margin-right: auto;
}
